/* DEFAULT SETTINGS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: #fff;
}

/* TOP BAR SETTINGS */
#nav{
    height: 50px;
    text-align: right;
    /* DEBUG */
    border: 1px solid red;
}


/* TOOL UPPER MENU   */
.up-tools{
    background-color: gray;
    border-radius: 5px;
    margin-top: 10px;
}

#speaker{
    width: 120px;
    text-align: center;
    display: inline-block;
}

#arrow{
    display: inline-block;
}

/* MAIN MENU SETTINGS */
#main-menu{
    height: calc(100vh - 150px);
    width: 90%;
    margin: 0 auto;
    overflow-y: auto;
    /* DEBUG */
    border: 1px solid red;
}


/* TOOL MENU BOTTOM */
#tool-settings{
    height: 100px;
    /* DEBUG */
    border: 1px solid red;
}
/* DEBUG SECTION */


.user{
    display: inline-block;
    border: 1px solid blue;
    background-color: #fff;
    width: 250px;
    height: 100px;
}

/* .block-test{
    width: 50%;
    height: 400px;
    border: 1px solid blue;
    background-color: #fff;
} */
