/* DEFAULT SETTINGS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: #fff;
}

/* TOP BAR SETTINGS */
#nav{
    height: 50px;
    text-align: right;
}


/* TOOL UPPER MENU   */
.up-tools{
    background-color: gray;
    border-radius: 5px;
    margin-top: 10px;
}

#speaker{
    width: 120px;
    text-align: center;
    display: inline-block;
}

#arrow{
    display: inline-block;
}

/* MAIN MENU SETTINGS */
img{
    max-width: 100%;
}

#main-menu{
    height: calc(100vh - 150px);
    overflow-y: auto;
    /* flex */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}


.user{
    display: inline-block;
    position: relative;
    width: 200px;
    height: 100px;
}

.name{
    position: absolute;
    background-color: rgba(100, 100, 100, 0.7);
    bottom: 0;
    left: 0;
}

/* TOOL MENU BOTTOM */
#tool-settings{
    height: 100px;
    /* flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tool-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}


#tool-bar div{
    max-width: 150px;
    text-align: center;
    
}


#mic-video{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

#exit{
    color: red;
    background-color: gray;
    height: 100%;
    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
}


